/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
	-fx-background-image: url(/icon1/background.png);
}
.button{
    -fx-border-color: rgb(5.0,82.0,3.0);
    -fx-background-color: #FFFFFF;  /*#57a303; */
    -fx-border-style: solid ;
    -fx-border-width: 0.5px;
    -fx-font-size: 1.0em; /* 12 */
    -fx-text-fill: #828282;
    -fx-background-size: contain ;
}
#btnNewGame{
	-fx-background-image: url(/icon2/matcuoi.jpg);
	-fx-background-size: contain ;
}
#btnNewGame:hover{
	-fx-background-image: url(/icon2/cricle.png);
	-fx-background-size: contain ;
}

#panelMatCuoi{
	-fx-hgap: 10.0px ;
	-fx-padding: 10px;
}
#boardPane{
	-fx-alignment: center;
	-fx-fill: true;
}
#pane{
	-fx-padding: 0px;
}
#timer{
	-fx-size: 30px;
	-fx-arrows-visible: false ;
}
